body {
  background: white;
  font-family: "Fedra Serif A", Georgia, serif;
  font-size: 16px;
}

.width {
  max-width: 700px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#header-container {
  background: #5dbbaf;
  box-shadow: 0 0 14px rgba(0,0,0,.2);
  z-index: 1;
  position: relative;
  /*border-bottom: 10px solid rgba(69,95,91,0.3);*/
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

#header {
  height: 118px;
}

#menu {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
}

#menu a {
  color: white;
  text-decoration: none;
}

#menu .slash {
  opacity: 0.5;
  display: inline-block;
  margin: 0 4px;
}

#logo {
}

#logo a.logo {
  display: block;
  margin: auto auto;
  width: 700px;
}

.logo img {
  width: 700px !important;
  height: auto !important;
}

#map {
  height: 300px;
  border-bottom: 1px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 0;
  position: relative;
}

.leaflet-container .leaflet-control-attribution,
.mapbox-logo
/*.leaflet-control-zoom*/
{
  display: none !important;
}

#container {
  margin: 40px auto 80px auto;
}

#content {
  background: white;
  padding: 20px 14px;
  font-size: 16px;
  min-height: 800px;
}

.post-listing {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  font-size: 20px;
  color: #888;
}

.post-listing li {
  margin: 10px 0;
}

.post-listing li a {
  color: #333;
  font-size: 16px;
  text-decoration: none;
}

.post-listing li a:visited {
  color: #333;
}

.post-listing li a span.date {
  font-weight: bold;
  color: #ccc;
  display: inline-block;
  width: 30px;
}

.post-listing li a span.title {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  display: inline-block;
  margin-top: 8px;
}

.post-listing li a span.ellipses {
  color: #ccc;
  width: 40px;
  display: inline-block;
  text-align: center;
}

.post-listing li a span.author {
  font-style: italic;
  color: #777;
}

.post-listing li .tags {
  position: absolute;
  font-weight: normal;
  margin-left: 6px;
  color: #eee;
}

.post-listing li .tags em {
  font-style: normal;
  font-weight: bold;
  color: lavender;
}

.post {
  line-height: 125%;
  color: #222;
}

.post-metadata {
  margin-bottom: 40px;
}

.post h1 {
  font-family: "Fedra Serif A", sans-serif;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 110%;
  color: #333;
}

.post-metadata .date {
  font-size: 14px;
  font-style: italic;
  color: #aaa;
}

.post-metadata .location {
  font-size: 14px;
  font-style: italic;
  color: #aaa;
  margin-top: 8px;
}

.post-post {
  margin-top: 20px;
}

.post-post .author {
  text-align: right;
  font-size: 14px;
  font-style: italic;
}

.post a {
  text-decoration: none;
  border-bottom: 1px solid #eee;
  color: firebrick;
}

.post pre {
  font-family: monospace;
  padding: 20px 0;
  margin-left: 20px;
  font-size: 13px;
  color: firebrick;
}

.post .separator {
  color: #ccc;
  margin: 20px 0;
  text-align: center;
}

.post .section {
  /*margin: 10px 0 10px 0;*/
  position: relative;
}

.post .section.left {
  margin-right: -40px;
  padding-right: 40px;
  border-right: 1px solid #eee;
}

.post .section.right {
  margin-left: -40px;
  padding-left: 40px;
  border-left: 1px solid #eee;
}

.post .section-start {
  height: 4px;
}

.post .section-end {
  height: 10px;
}

.post .spandrel {
  position: absolute;
  width: 16px;
  height: 4px;
  background: #eee;
}

.post .section.left .section-start .spandrel {
  top: 0;
  right: 0;
}

.post .section.left .section-end .spandrel {
  bottom: 0;
  right: 0;
}

.post .section.right .section-start .spandrel {
  top: 0;
  left: 0;
}

.post .section.right .section-end .spandrel {
  bottom: 0;
  left: 0;
}

.section .section-start h5 {
  position: absolute;
  top: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 150%;
  margin: 0;
  text-align: right;
}

.section.left .section-start h5 {
  left: 105%;
}

.section.right .section-start h5 {
  right: 105%;
}

.post p.classic {
  /*text-align: justify;*/
  /*text-indent: 14px;*/
  margin: 0;
  padding: 10px 0 10px 0;
  line-height: 150%;
  font-size: 16px;
  /*text-indent: 8px;*/
  color: #333;
}

.post p.classic em.inlined {
  color: #000;
  font-style: italic;
}

.post .dropcap {
  float: left;
  color: rgb(206,0,0);
  font-size: 58px;
  line-height: 54px;
  height: 48px;
  padding: 0 4px 0 0;
  font-family: "Fedra Serif A", sans-serif;
  font-weight: bold;
}

.post .parenthesis {
  color: #aaa;
}

.post .parenthetical {
  color: #444;
}

.post figure {
  font-family: monospace;
  font-size: 10px;
  text-align: center;
  font-style: italic;
}

.post figure.ann-right-sidebar {
  width: 180px;
  float: right;
  padding: 0 0 10px 20px;
  margin: 17px 0 0 0;
  line-height: 120%;
}

.post figure img {
  width: 100%;
  margin-bottom: 10px;
}

.post blockquote {
  margin: 0;
  padding: 20px 10px 20px 40px;
}

.post blockquote.ann-typewriter {
  font-family: Monaco, "Courier New", monospace;
  font-size: 14px;
  line-height: 120%;
}

.post blockquote.ann-academic {
  line-height: 130%;
  font-size: 14px;
}

.post blockquote.ann-academic em {
  font-style: normal;
}

.post iframe {
  width: 100%;
  border: none;
  height: 300px;
}

.tombstone {
  margin-left: 4px;
}

.post-footnotes h6 {
  font-size: 14px;
  color: #555;
  font-style: italic;
}

.post-footnotes .footnote {
  text-indent: -33px;
  margin-left: 33px;
}

.post a.footnote {
  border: none;
  color: rgba(183,11,87,0.8);
}

.post-footnotes a.footnote-backref {
  border: none;
  color: rgba(183,11,87,0.7);
  text-indent: 0;
  width: 26px;
  display: inline-block;
}

.post-footnotes {
  font-size: 12px;
  margin-top: 100px;
}

.post-footnotes ol {
  padding-left: 30px;
}

#footer-container {
  margin-top: 300px;
  background: dodgerblue;
  border-top: 1px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#footer {
  padding: 20px 0;
}

.copyright {
  color: white;
  text-align: center;
}

.copyright a {
  color: white;
  text-decoration: none;
}

.posts-month {
  margin-bottom: 50px;
}

.posts-group-date {
  font-size: 14px;
}