<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet'/>
<div id="header-container">
  <div id="header" class="width">
    <div id="logo">
      <a href="/" class="logo">
        <img src="/img/logo.png"/>
      </a>
    </div>
  </div>
</div>
<div id="map" class="map"></div>
<div id="container" class="width">
  <div id="content">
    {{{content}}}
  </div>
</div>